<div class="notice-wrap">
    <div class="notice-holder">
        <section class="title">
            <h2>공지사항</h2>
        </section>
        <section class="search-wrap">
            <div class="search-box">
                <form action="">
                    <select name="" id="">
                        <option value="tit" selected>제목</option>
                        <option value="con" >내용</option>
                        <option value="user" >글쓴이</option>
                    </select>
                    <input class="textbox" type="text" placeholder="검색어를 입력해주세요">
                    <input class="searchBtn" type="submit" name="" id="" value="검색">
                </form>
            </div>
        </section>
        <section class="list-table-wrap">
            <table class="notice-table">
                <thead>
                    <tr>
                        <th style="width: 15%;" scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th style="width: 15%;" scope="col">작성일</th>
                        <th style="width: 15%;" scope="col">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <% rows.forEach((row,index) => { %>
                        <tr>
                            <td><%= row.id %></td>
                            <td class="table-title"><a href="/noticeReadPage?id=<%= row.id %>"><%= row.title %></a></td>
                            <td><%= row.create_time %></td>
                            <td><%= row.views %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
        <section class="list-pagination-wrap">
            <span>1</span>
        </section>
        <section class="list-btn-wrap">
            <a class="write-btn" href="/noticeWritePage">글쓰기</a>
        </section>
    </div>
</div>