<div class="notice-wrap">
    <div class="notice-holder">
        <section class="title">
            <h2>묻고답하기</h2>
        </section>
        <section class="search-wrap">
            <div class="search-box">
                <form action="">
                    <select name="" id="">
                        <option value="tit" selected>제목</option>
                        <option value="con">내용</option>
                        <option value="user">글쓴이</option>
                    </select>
                    <input class="textbox" type="text" placeholder="검색어를 입력해주세요">
                    <input class="searchBtn" type="submit" name="" id="">
                </form>
            </div>
        </section>
        <section class="list-table-wrap">
            <table class="notice-table">
                <thead>
                    <tr>
                        <th style="width: 15%;" scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th style="width: 10%;" scope="col">작성일</th>
                        <th style="width: 10%;" scope="col">작성자</th>
                        <th style="width: 10%;" scope="col">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <% rows.forEach((row,index) => { %>
                    <tr>
                        <td>
                            <a href="/QNAReadPage?id=<%= row.id %>">
                                <%= row.id %>
                            </a>
                        </td>
                        <td class="table-title">
                            <a href="/QNAReadPage?id=<%= row.id %>">
                                <%= row.title %>
                            </a>
                        </td>
                        <td><%= row.create_time %></td>
                        <td><%= row.user %></td>
                        <td><%= row.views %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
        <section class="list-btn-wrap">
            <a class="write-btn" href="/qnaWritePage">글쓰기</a>
        </section>
    </div>
</div>