<div class="notice-read-wrap">
    <div class="notice-holder">
        <section class="notice-read-top">
            <div class="top-box">
                <span class="notice-category">QNA</span>
                <h2 class="title"><%= row.title %></h2>
                <span class="sub-info"><%= row.create_time %></span><span class="sub-info">|</span><span
                    class="icon"></span><span class="sub-info"><%= row.views %></span>
            </div>
        </section>
        <section class="notice-read-middle">
            <pre><%= row.content %></pre>
        </section>
        <section class="notice-read-bottom">
            <div class="bottom-box">
                <a href="/QNAPage" class="btns">돌아가기</a>
                <a href="/qnaUpdatePage?id=<%= row.id %>" class="btns">수정</a>
                <a class="btns" onclick="if(confirm('정말로 삭제하시겠습니다?')){
                    location.href='/deleteQna?id=<%= row.id %>'
                    } else{}" class="btns">삭제</onclick=>
            </div>
        </section>
    </div>
</div>